.form {
    margin: 1rem auto;
    width: 400px;
    background-color: rgb(255, 205, 205);
    padding: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(201, 201, 201);
    
}

.form label {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.form input, button {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.form button {
    background-color: rgb(0, 162, 255);
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: aliceblue;
    border: none;
    cursor: pointer;
}